<div class="modal-body">
  <%= form_with  model:@board do |form|%>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div><br>
    <div>
      <%= form.label :status%>
      <%= form.text_field :status %>
    </div><br>  
      <%= form.submit %>
  <% end %>
</div>